* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: #040f0f;
  }

  body {
    background-color: #E8E4F1;
  }
  
  /* Menu */
  .bg-dark {
    background-color: #788585 !important;
  }
  
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #040f0f;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #040f0f;
  }
  
  .title-holder {
    display: flex;
    justify-content: space-between;
  }

  .mirrored-flower {
    transform: rotateY(180deg);
  }

  .main-image {
    width: 80%;
    
  }

  .middle-column-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .full-width {
    width: 100%;
  }

  .center-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-title {
    font-size: 4rem;
    font-style: italic;
  }

  .story-image {
    width: 90%;
  }

  .center-paragraph {
    text-align: center;
  }