* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #87cfeb !important;
    position: relative;
    height: max-content;
    min-height: 100vh;
}

.main-view {
    background-color: #f2fafd;
    height: 100%;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.bottom-footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

#labTitle {
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.album-cover-art {
    width: 50%;
    height: auto;
}

.selector-with-button {
    width: max-content;
}

.selector-column {
    display: flex;
    padding-left: 0px;
}

#goButton {
    padding: 3px 5px 3px 5px;
    border-width: 1px;
}