* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  background-color: #f9f4ef;
}

.menu {
  background-color: #0074B7;
  margin-bottom: 50px;
}

.menu-item {
  padding: 10px;
  color: #dbe8f5;
  border-right: solid 1px #003B73;
  padding-left: 40px;
  padding-right: 40px;
}

.sock-pic {
  margin-right: 30px;
}

.title {
  font-size: 80px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.description {
  display: flex;
  flex-direction: column;
}

.rating {
  font-size: 14px;
  padding-left: 20px;
}

.wall-of-text {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.price {
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  background-color: #adb0b0;
}

.flex-apart {
  display: flex;
  justify-content: space-between;
}

.buy-button {
  margin-top: 20px;
  margin-right: 30px;
  height: max-content;
  background-color: #067B04;
  padding: 5px;
  color: #f9f4ef;
}