* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  
  .image {
    margin: 10px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
  
  .image {
    margin: 10px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image {
    alignment-baseline: central;
    margin: 20px;
    width: 25%;
  }
  
  .firstParagraph {
    margin: 25px 100px 25px 100px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF007F;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0px;
}

li {
  float: left;
  border-right: 1px solid #800040;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #400020;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #00FF00;
}

.active {
  background-color: #00B300;
}

.firstHeader {
    margin-top: 50px;
    padding: 10px 0px 10px 0px;
    color: #4E1E66;
    border-bottom: 1px dashed #411159;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
}

.firstParagraph {
    text-align: center;
    font-style: italic;
    font-size: 25px;
    color: #888B8D;
}